.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #A1DD70;
}


.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #A1DD7080;
}

.table-striped>tbody>tr:nth-child(even)>td {
    background-color: #A1DD7040;
}


.btn-primary {
    color: #ffffff;
    background-color: #A1DD70;
    border-color: #00000000
}

.btn-primary:hover {
    color: #FFFFFF;
    background-color: #799351;
    border-color: #00000000
}

body{
    background-color: #F6EEC9;
}

.hero_section {
    margin-top: 102px;
}

.hero_text {
    text-align: center;
}

.hero_p {
    text-align: center;
    margin-top: 15%;

}

.img_container{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0 !important;
}

.hero_img {
    height: 700px !important;
    width: 1066 !important;
    filter: brightness(50%) !important;
}
